* {
  margin: 0;
  padding: 0;  
  box-sizing:border-box;
}
$arvo:'Arvo';
body{
  display:block;
  overflow-x: hidden;
}

.wrapper{
  display:block;
  width:100%;
  height:100%;
  font-family: $arvo;
}
.container{
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;
  overflow: hidden;
  position:relative;
  transform-style: preserve-3d;
}
h1{
  text-transform: uppercase;
  font-size:13vw;
  letter-spacing: 2px;
}
.bgOne{
  background:url(../images/sm_bg.jpg) center center no-repeat;
}
.parallax{
  position:absolute;
  width:100vw;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  transform-style: preserve-3d;
  h1{
    color:#fff;
  }
}
.bgImg{
  position: absolute;
  width:100vw;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  img{
    display:block;
    margin-top:auto;
    width:70%;
  }
}

.bgTwo{
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  width:100%;
  background-color: #0a2431;
  .item{
    width:45%;
    img{
      width:100%;
      height:100%;
      object-fit: cover;
      display:block;
    }
    h4{
      font-size:20px;
      text-align:left;
      color:#fff;
      text-transform: uppercase;
    }
    p{
      padding-right: 50px;
      box-sizing: border-box;
      color:#fff;
      font-size:16px;
      line-height: 1.5;
    }
  }
}

.section_3{
  width:100%;
  height:100vh;
  background-color:#121d3f;
  display:flex;
  justify-content: flex-end;
  .scrolling_text{
    width:50%;
    height:100vh;
    position:relative;
    img{
      width:100%;
      height:100%;
      object-fit: cover;
      display:block;
    }
    .scroll_text{
      position:absolute;
      top:50%;
      left:0;
      width:500px;
      transform:translate(-50%, -50%);
      p{
        font-size:80px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        color:#fff;
        +p{
          margin-top:20px;
        }
      }
    }
  }
}

.section_4{
  width:100%;
  height:100vh;
  background-color:orange;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1{
    color:#fff;
    display:block;
  }
}
